body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    /* background: green; */
    margin-bottom: 100px; 
    /* display: flex; */
    
    
    
}
h1 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 3rem;
    font-weight: lighter;
    
}
h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    word-spacing: 10px;
    font-size: 3rem;
    font-weight: lighter;
}
a {
    text-decoration: none;
    color: black;

}
.visitar:visited {
    color: black;
}
.visitar:hover {
    color: hotpink;
}
.volver {
    border: 1px solid green;
    border-radius: 6px;    
    margin-left: 10px;
    background-color: grey;
    font-weight: lighter;
    font-style: italic;
    padding: 5px;
    color: blanchedalmond;
    
}
.cursor:hover {
    background-color:green ;
}
li {

    padding: 2px;
    text-transform: capitalize;
    letter-spacing: 1.5px;
    font-size: 1.1rem;
    list-style: none;
    margin: 6px;
    text-align: justify;
    font-weight: 500;
    
}
input {
    margin-left: 87%;
    
    border: none;
    border-bottom: 1px solid blue;
    border-right: 1px solid blue;
    justify-content: center;
    text-transform: capitalize;
}

main {
    /* background: green; */
    /* display: inline-block; */

}
.contenedor-padre {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(6,1fr);
     gap: 40px; /*con este atributo se puede dar espacio entre las columnas  */
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
    padding: 0; 

}
img  {
    max-width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
    font-size: larger;
    text-transform: capitalize;
    padding-top: 10px;
}
.footer1 {
    display: flex;
    justify-content: space-between;
}
.footer1:first-child {
    margin-left: 50px;
}
.footer1 p:nth-child(2) {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.footer1 p:nth-child(2):hover {
    opacity: 1;
}
.footer1 p:last-child {
    margin-right: 120px;
}
.footer2 {
    display: flex;
    justify-content: space-around;
    opacity: 0;
    animation: cambio 2s infinite;
    
}
@keyframes cambio {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    body {
        background-color: lightcoral;
    }
    h1 h2 {
        font-size: 2rem;
        text-align: justify;
    }
    .volver {
        justify-content: center;
    }
    .contenedor-padre {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 10px;
    }
    input {
        margin-top: 20%;
        margin-left: 30%;
        width: 50%;
    }
    ul {
        margin-left: 10%;
    }
    .footer1 {
        flex-direction: column;

    }
}
